
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.section {
    display: flex;
    max-width: 100%;
    height: 100%;
    background: white;
    color: black;
}

.side{
    display: flex;
    width: 15%;
    padding-top:2%;
    flex-direction: column;
    justify-items: center;
    background: rgb(14, 14, 165);
    color: white;

}

#form{
    background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    margin-bottom: 2%;

}


.input{
    width: 100%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
    color: black;
    outline: none;
}


.button{
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: large;
    cursor: pointer; 
}


.esqueceuPassword{
    display: block;
    margin-top: 10px;
    color: #1877f2;
    text-decoration: none;
}

.divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #ddd;
}

.criarConta{
    padding: 12px;
    color:  blue;
    font-size: 18px;
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}

.space{
    display: flex;    
    justify-content: space-between;
    width: 100%;
}


/*Responsividade */

@media (min-width:425px){
    #form{
        width: 30%;
        height: 100%;
        padding-top: 8%;
        padding-left: 2%;
        padding-right: 2%;
        box-shadow:  0 2px 6px rgba(0, 0,0, 1);
        transition:  box-shadow 0.3s ease;
        
    }

    .input, .button{
        font-size: large;
        padding:4%;

    }
    .h1{
        font-size: xx-large;
    }
}


@media (max-width:425px){
    #form{
        width: 90%;
        max-width: 100%;
        
    }

    .input, .button{
        font-size: 14px;
        padding:10px;

    }
    .h1{
        font-size: x-large;
    }
}